<section class="hero">
  <div class="container">
    <img class="hero-logo" src="./images/logo.webp" alt="" />
    <h1 class="hero-title">
      FIND BEST EVENTS<br />
      AROUND THE WORLD
    </h1>
    <form class="hero__form">
      <div class="svg-div">
        <input
          type="text"
          name="search"
          class="hero__input"
          placeholder="Search events"
        />
        <svg class="input-icon">
          <use href="./images/search-icon.svg"></use>
        </svg>
      </div>

      <div class="svg-div">
        <input
          type="text"
          name="country"
          class="hero__i"
          placeholder="Country code"
        />
        <svg class="input-icon">
          <use href="./images/choose-icon.svg"></use>
        </svg>
      </div>
      <button type="submit">Search</button>
    </form>
  </div>
</section>