<section class="hero">
    <div class="container">
      <!-- <img src="./images/pic.webp" alt="Background" class="hero-image" /> -->
      <h1 class="hero-title">
        FIND BEST EVENTS<br />
        AROUND THE WORLD
      </h1>
      <form class="hero__form">
        
    <input
      type="text"
      name="search"
      class="hero__input"
      placeholder="Search events"
    >

    <input
      type="text"
      name="country"
      class="hero__i"
      placeholder="Country code (наприклад UA)"
    >

    <button type="submit">Search</button>
  </form>
  </div>
      
    </section>