<footer class="footer" data-aos="fade-in" data-aos-duration="3000">
  <div class="container">
    <ul class="list">
      <li>
        <a href="#" class="link active">1</a>
      </li>
      <li><a href="#" class="link">2</a></li>
      <li><a href="#" class="link">3</a></li>
      <li><a href="#" class="link">4</a></li>
      <li><a href="#" class="link">5</a></li>
      <li><span class="link dots">...</span></li>
      <li><a href="#" class="link">29</a></li>
    </ul>
    <p class="footer__text">
      © 2021 | All Rights Reserved |
      <br />
      Developed with ❤️ by GoIT Students
    </p>
  </div>
</footer>
